{
	"extends": [
		"prettier",
		"prettier/react",
		"eslint:recommended",
		"plugin:react/recommended"
	],
	"plugins": ["prettier"],
	"rules": {
//		"prettier/prettier": ["warning"]
	},
	"globals": {
		"window": true,
		"document": true,
		"localStorage": true,
		"FormData": true,
		"FileReader": true,
		"Blob": true,
		"navigator": true
	},
	"parser": "babel-eslint"
}
