.header {

  display: flex;
  justify-content: flex-end;
  align-items: center;

  height: 50px;

  padding: 0 50px;

  color: #fff;
  background-color: #000;
}

.count {
  margin-right: 20px;
}

.login {
  display: inline-flex;
  justify-content: center;
  align-items: center;

  width: 100px;
  height: 30px;

  color: #fff;
  font-weight: bold;
  background-color: transparent;

  cursor: pointer;
}
