.container {
	display: flex;
	flex-direction: column;

	max-width: 1000px;
	margin: 50px auto 0;
}

.logout {
	display: inline-flex;
	align-self: flex-end;
	justify-content: center;

	width: 150px;
	height: 30px;

	background: transparent;
	border: 1px solid #000;
	border-radius: 3px;

	text-transform: uppercase;

	cursor: pointer;

	transition: all 0.2s;

	&:hover {
		background-color: #000;
		color: #fff;
	}
}

.chat {
	margin-top: 40px;
	padding: 20px 15px 10px;

	background-color: rgba(0, 0, 0, 0.1);
	border-radius: 5px;

	ul {
		max-height: 500px;
        min-height: 150px;
		overflow-y: scroll;
	}

	&__message {
	}

	&__action {
		position: relative;

		textarea {
			width: 100%;
            padding: 10px 200px 10px 15px;

			border: none;
			border-radius: 5px;

			box-sizing: border-box;
			resize: none;
		}

		button {
			position: absolute;
			right: 10px;
			top: 10px;

            display: block;
            width: 100px;

            padding: 5px 0;

            background: transparent;
            border: 1px solid #000;
            border-radius: 3px;

            font-size: 12px;
            text-transform: uppercase;

            cursor: pointer;

            transition: all 0.2s;

            &:hover {
                background-color: #000;
                color: #fff;
            }
		}
	}
}
