.container {
  display: flex;
  justify-content: center;

  width: 100%;

  padding-top: 30px;
}

.list {
  width: 80%;

  &__item {
    display: flex;

    height: 100px;

    margin-bottom: 15px;

    background-color: rgba(0, 0, 0, 0.12);

    img {
      height: 100%;
    }

    &-content {
      display: flex;
      justify-content: center;
      align-items: center;

      width: 100%;
    }
  }
}
